#Name= Sachin Kalra 
#Author= Madiha Kazmi
#Date created= 5 october 2022
#Date last modified= 5 october 2022
# Purpose:
# this program will act as a geometry calculator for the calculations of area (in centimeter) and 
# perimeter(centimeter square)  of different shapes according to the values entered by the user.

# first it will ask the user to choose number between 1 and 4
print("Geometry Calculator")


print("1. Calculate the area of circle")
print("2. Calculate the area  of rectangle")
print("3. Calculate the area of a triangle")
print("4. Quit")

print("enter your choice (1-4)")
choice= int(input())

#when the user choose option 1 , it will then ask the user for the value of radius to calculate 
#area and perimeter  
if choice ==1:
    print("enter the radius of circle")
    radius= input()
    radius=float(radius)


    print("The area of circle is", 3.14*radius*radius, "square centimeters")
    print(" The perimeter of the circle is",2*3.14*radius, "cm" )
# if the user enter 2, then it will ask the user to enter the desired  width amd length of the rectangle 
#to calculate the area and parameter of triangle.
elif choice== 2:
    print("enter the  width of rectangle:")
    width=input()
    width=float(width)

    print("enter the length of rectangle:")
    length=input()
    length=float(length)

    print("the area of rectangle is" , width*length, "square cetimeters")
    print("the perimeter of rectangle is",2* length+width, "cm")
# if the user entered 3, user will be asked to provide height1 , height2 and base of traiangle to calculate
# area and perimeter of the triangle. 
elif choice== 3:
    print ("enter the  heigth1 of triangle:")
    height1 =input()
    height1 =float(height1)

    print ("enter the  heigth2 of triangle:")
    height2=input()
    height2 =float(height2)
    
    print("enter the base of  triangle:")
    base= input()
    base = float(base)
    print("the  area of triangle is" , 0.5*base*height1 "square centimeters")
    print(" the perimeter of triangle is",base+height1+height2 "cm" )
#if user  select the option 4 it will quit and dislpay the  following message
elif choice==4:
        print("thankyou for quitting ")
# if user put  any other value than 1,2,3,4 it will show error and ask user to enter a valid value.
else:
    print("please enter a valid value only between 1 and 4.")
